## Decision Tree Classifier Algorithm

### Step 1:Importing Necessary Libraries

In [26]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [3]:
data=pd.read_csv("Social_Network_Ads.csv")

In [4]:
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

### Step 2:Applying Categorical Column and Unwanted Column

In [5]:
data= pd.get_dummies(data,dtype=int,drop_first=True)

In [6]:
data

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [7]:
# Axis =  1 --> Column wise delete
# Axis = 0 ---> Row wise delete
data = data.drop("User ID",axis = 1)

In [8]:
data

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [9]:
data["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [10]:
data.shape

(400, 4)

### Step 3:To Split Input and Output Variables

In [11]:
Independent = data[['Gender_Male','Age','EstimatedSalary']]

In [12]:
Dependent = data[['Purchased']]

In [13]:
Independent

     Gender_Male  Age  EstimatedSalary
0              1   19            19000
1              1   35            20000
2              0   26            43000
3              0   27            57000
4              1   19            76000
..           ...  ...              ...
395            0   46            41000
396            1   51            23000
397            0   50            20000
398            1   36            33000
399            0   49            36000

[400 rows x 3 columns]

In [14]:
Dependent

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

### Step 4:To split Train and Test Values

In [15]:
X_train, X_test, y_train, y_test = train_test_split(Independent, Dependent, test_size = 0.30, random_state = 42)

In [16]:
X_train.shape

(280, 3)

In [17]:
X_test

     Gender_Male  Age  EstimatedSalary
209            0   46            22000
280            0   59            88000
33             0   28            44000
210            0   48            96000
93             0   29            28000
..           ...  ...              ...
60             1   27            20000
79             0   26            17000
285            0   37            93000
305            1   42            54000
281            1   35            61000

[120 rows x 3 columns]

In [18]:
y_train

     Purchased
157          0
109          0
17           1
347          1
24           1
..         ...
71           0
106          0
270          0
348          0
102          0

[280 rows x 1 columns]

In [19]:
y_test

     Purchased
209          0
280          1
33           0
210          1
93           0
..         ...
60           0
79           0
285          1
305          0
281          0

[120 rows x 1 columns]

### Step 5:To choose the Algorithm and learn

In [20]:
Classifier=DecisionTreeClassifier()

In [21]:
Classifier

DecisionTreeClassifier()

In [22]:
Classifier.fit(X_train, y_train)

DecisionTreeClassifier()

In [23]:
y_pred = Classifier.predict(X_test)

### Step 6: To Find the Confusion Matrix of the Model

In [24]:
confusion_matrix(y_test,y_pred)

array([[64,  9],
       [ 7, 40]], dtype=int64)

### Step 7: To find the Classification_report

In [27]:
Clf_report = classification_report(y_test, y_pred)

In [28]:
Clf_report

'              precision    recall  f1-score   support\n\n           0       0.90      0.88      0.89        73\n           1       0.82      0.85      0.83        47\n\n    accuracy                           0.87       120\n   macro avg       0.86      0.86      0.86       120\nweighted avg       0.87      0.87      0.87       120\n'

### Step 8: Test the Model using Values

In [37]:
Gender = int(input("Enter you gender (Male: 1, Female: 0): "))
Age = int(input("Enter you Age: "))
Estimated_Salary = int(input("Enter your Estimated Salary: "))

Classifier.predict([[Gender, Age, Estimated_Salary]])

Enter you gender (Male: 1, Female: 0):  1
Enter you Age:  35
Enter your Estimated Salary:  135000

C:\a\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

### Step 9:To save the Model

In [38]:
import pickle

In [40]:
filename="DTC.pkl"

In [41]:
pickle.dump(Classifier,open(filename,'wb'))

In [43]:
loaded_model=pickle.load(open("DTC.pkl",'rb'))

In [44]:
result=loaded_model.predict([[Gender,Age,Estimated_Salary]])

C:\a\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [45]:
result

array([1], dtype=int64)